@media (max-width :411px)
{
    .navbar__img-web 
    {
        width: 86%;
    }
    .book-same 
    {
        overflow: hidden;
    }
    .featured-sldier-title i 
    {
        text-align: center;
    }
    .book-same
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .book-same2
    {
        width: 85%;
    }
}
@media (min-width :412px) and (max-width :738)
{

}
@media (max-width : 739px)
{
    .navbar__search-search p
    {
        display: none;
    }
    .menu-user-cart
    {
        display: flex;
        justify-content: right;
    }
    .navbar__search 
    {
        width: 100%;
        height: 40px;
    }
    .navbar__search-input
    {
        flex: 11;
    }
    .icon-on-tablet,
    .navbar__img,
    .menu-user-cart{
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .setPadding
    {
        padding-left: 10px;
        padding-right: 10px;
    }
    .menu-wrapper-bc
    {
        display: none;
    }
    .slide .grid .wide 
    {
        width: 1500px;
    }
    .slideshow-container
    {
        margin-top: 55px;
    }
    .text
    {
        left: 0;
    }
    .wrapp-book 
    {
        flex-wrap: nowrap ;
    }
    .child-book1 
    {
        height: 120px;
    }
    .collection-content
    {
        display: flex;
        justify-content: center;
    }
}
@media (min-width : 740px) and ( max-width : 1023px)
{
    .menu-user-cart
    {
        display: flex;
        justify-content: right;
    }
    .navbar__search 
    {
        width: 100%;
        height: 40px;
    }
    .navbar__search-search p
    {
        display: none;
    }
    .navbar__search-input
    {
        flex: 12;
    }
    .icon-on-tablet,
    .navbar__img,
    .menu-user-cart{
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .overMenu{
        display: block;
    }
    .menu-wrapper-bc
    {
        display: none;
    }
    .slideshow-container
    {
        margin-top: 55px;
    }
    .book-row
    {
        overflow-x: scroll;
        max-width: 739px;
    }
    .wrapp-book 
    {
        flex-wrap: nowrap ;
    }
    
}
@media (min-width : 1024px)
{
    .icon-on-tablet 
    {
        display: none;
    }
    .menu-user-cart
    {
        display: none;
    }
    .icon-search
    {
        display : none 
    }
    .overMenu 
    {
        display : none 
    }
    .child-book1 
    {
        height: 120px;
    }
    .wrapp-book 
    {
        flex-wrap: nowrap ;
        overflow-x: scroll;
    }
    .wrapp-book::-webkit-scrollbar {
        display: none;
    }
    
    /* Hide scrollbar for IE, Edge and Firefox */
    .wrapp-book {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
}
